<html>
<head>
    <title>Nearly Viral Videos</title>
    <link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ css_dir }}/main.css" />

    <script src="{{ js_lib_dir }}/mustache.js" type="text/javascript"></script>
    <script src="{{ js_lib_dir }}/jquery.js" type="text/javascript"></script>
    <script src="{{ js_lib_dir }}/ICanHaz.js" type="text/javascript"></script>

    <script src="{{ js_lib_dir }}/underscore.js" type="text/javascript"></script>
    <script src="{{ js_lib_dir }}/backbone.js" type="text/javascript"></script>

    <script src="{{ js_dir }}/links.js" type="text/javascript"></script>

    {% raw %}
    <script type='text/html' id='video'>
        <div class="video_controls">
            <a class="video_details_link" href="#{{id}}/details">
                <img src="{{thumbnail_medium}}" />
            </a>
            <a class="watch_video_link" href="#{{id}}/watch">
                Watch
            </a>
        </div>
        <div class="video_details">
        </div>
    </script>
    <script type='text/html' id='video_details'>
        <div class="video_description">
            <img src="{{user_portrait_small}}" class="user_image"/>
            <span class="user_name">
                by
                <a href="{{user_url}}">
                    {{user_name}}
                </a>
            </span>
            <div class="description_text">
                {{{description}}}
            </div>
        </div>
    </script>
    <script type='text/html' id='video_title'>
        <h2>{{title}}</h2>
    </script>
    <script type='text/html' id='tweet'>
        <div class="tweet clearfix">
            <div class="tweet_picture">
                <a href="http://twitter.com/#!/{{user.screen_name}}">
                    <img class="avatar" src="{{user.profile_image_url}}" />
                </a>
            </div>
            <div class="tweet_author">
                {{ user.name }} - 
                <a href="http://twitter.com/#!/{{user.screen_name}}">
                    @{{user.screen_name}}
                </a>
            </div>
            <div class="tweet_text">
                {{text}}
            </div>
        </div>
    </script>

    <script type='text/html' id='video_player'>
        <div id="overlay">
        </div>
        <div id="video_player_container">
            <a class="deselect_link"><img src="/img/close.png" /></a>
            <div class="video_player">
                <iframe
                    src="http://player.vimeo.com/video/{{id}}"
                    width="760" height="360"
                    frameborder="0">
                </iframe>
            </div>
        </div>
    </script>
    {% endraw %}
</head>

<body>
    <div id="selected_video">
    </div>
    <div id="explanation">
        We catch every Vimeo link on Twitter to create this <em>highly</em> interesting list.
    </div>
    <div id="videos">
    </div>
</body>
</html>
