<html>
<head>
    <title>Nearly Viral Videos</title>
    <link rel="stylesheet" href="{{ css_dir }}/main.css" />

    <script src="{{ js_lib_dir }}/mustache.js" type="text/javascript"></script>
    <script src="{{ js_lib_dir }}/jquery.js" type="text/javascript"></script>
    <script src="{{ js_lib_dir }}/ICanHaz.js" type="text/javascript"></script>

    <script src="{{ js_lib_dir }}/underscore.js" type="text/javascript"></script>
    <script src="{{ js_lib_dir }}/backbone.js" type="text/javascript"></script>

    <script src="{{ js_dir }}/links.js" type="text/javascript"></script>

    {% raw %}
    <script type='text/html' id='video_template'>
        <h2>{{title}}</h2>
        <div class="video_img">
            <a id="link_{{id}}" href="#{{id}}" >
                <img src="{{thumbnail_large}}" />
            </a>
        </div>
        <div class="tweets">
            tweets
        </div>
    </script>

    <script type='text/html' id='tweet_template'>
        <div class="tweet_picture">
            <a href="http://twitter.com/#!/{{user.screen_name}}">
                <img class="avatar" src="{{user.profile_image_url}}" />
            </a>
        </div>
        <div class="tweet_author">
            <a href="http://twitter.com/#!/{{user.screen_name}}">
                {{user.screen_name}}
            </a>
        </div>
        <div class="tweet_text">
            {{text}}
        </div>
    </script>

    <script type='text/html' id='selected_video_template'>
        <div id="overlay">
        </div>
        <div id="video_player_container">
            <a class="deselect_link"><img src="/img/close.png" /></a>
            <div class="video_player">
                <iframe
                    src="http://player.vimeo.com/video/{{id}}"
                    width="760" height="360"
                    frameborder="0">
                </iframe>
            </div>
        </div>
    </script>
    {% endraw %}
</head>

<body>
    <div id="selected_video">
    </div>
    <div id="container">
        <div id="explanation">
            <p>
            
            We catch every Vimeo link on Twitter ({{ num_links }} so far) as it happens and use a few tricks
            to filter them down to this highly interesting list
            </p>
        </div>
        <div id="videos">
        </div>
    </div>
</body>
</html>
